<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spinfosec.dao.tactic.JobScheduleDao">

    <select id="getDbDiscoveryTaskInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        a. NAME,<!--0-->
        a.ID,<!--1-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,<!--2-->
        a.SCHEDULING_ID,<!--3-->
        a.DISCOVERY_TASK_TYPE,<!--4-->
        a.IS_FILE_AGE_ENABLED,<!--5-->
        IFNULL(a.SCAN_PERIOD_TYPE, '') as scanPeriodType,<!--6-->
        IFNULL(DATE_FORMAT(a.MODIFIED_FROM_DATE,'%m/%d/%Y'),'01/01/1970') AS modifiedFromDate,<!--7-->
        IFNULL(DATE_FORMAT(a.MODIFIED_TO_DATE,'%m/%d/%Y'),'01/01/1970') AS modifiedToDate,<!--8-->
        a.MODIFIED_MONTHS_AGO,<!--9-->
        a.MODIFIED_WITHIN_MONTHS,<!--10-->
        a.BUSY_BANDWIDTH_ENABLED,<!--11-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_STARTDATE,'%m/%d/%Y'),'') AS busyBandWidthStartDate,<!--12-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_ENDDATE,'%m/%d/%Y'),'') AS busyBandWidthEndDate,<!--13-->
        IFNULL(a.BUSY_BANDWIDTH_LIMIT, '') AS busyBandWidthLimit,<!--14-->
        IFNULL(a.PERCENT_ENABLED,'') AS percentEnabled,<!--15-->
        IFNULL(a.PERCENT_AGE,'') AS percentAge,<!--16-->
        IFNULL(a.TIMER_ENABLED,'') AS timeEnabled,<!--17-->
        IFNULL(a.TIMER_AGE,'') AS timeAGE,<!--18-->
        a.BE_CHECKED_ORG_ID,<!--19-->
        o.NAME AS orgName<!--20-->
        FROM sp_discovery_tasks a LEFT JOIN sp_scheduling_data b ON a.SCHEDULING_ID = b.ID
        LEFT JOIN sp_org_unit_dict o ON a.BE_CHECKED_ORG_ID = o.ID
        WHERE a.DISCOVERY_TASK_TYPE IN ('DATA_BASE')
        AND a.ELEMENT_STATUS IN ('UNSYNCHRONIZED_NEW','UNSYNCHRONIZED_EDIT')
        AND a.ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFileDiscoveryTaskInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        a.ID, <!--0-->
        a.DISCOVERY_TASK_TYPE,<!--1-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType, <!--2-->
        IFNULL(a.TIMER_ENABLED,'') AS timeEnabled,<!--3-->
        IFNULL(a.TIMER_AGE,'') AS timeAge,<!--4-->
        a.SCHEDULING_ID,<!--5-->
        IFNULL(a.BUSY_BANDWIDTH_ENABLED, '') AS busyBandWidthEnabled, <!--6-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_STARTDATE,'%m/%d/%Y'),'') AS busyBandWidthStartDate,  <!--7-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_ENDDATE,'%m/%d/%Y'),'') AS busyBandWidthEndDate,  <!--8-->
        IFNULL(a.BUSY_BANDWIDTH_LIMIT, '') AS busyBandWidthLimit,   <!--9-->
        IFNULL(a.IS_FILE_NAME_ENABLED,'0') AS isFileNameEnabled, <!--10-->
        IFNULL(a.IS_LARGER_THAN_ENABLED,'') AS isLargerThanEnabled,<!--11-->
        IFNULL(a.IS_SMALLER_THAN_ENALBED,'') AS isSmallerThanEnabled,<!--12-->
        IFNULL(a.IS_FILE_AGE_ENABLED,'') AS isFileAgeEnabled,<!--13-->
        IFNULL(a.SCAN_PERIOD_TYPE,'') AS scanPeriodType,<!--14-->
        IFNULL(DATE_FORMAT(a.MODIFIED_FROM_DATE,'%m/%d/%Y'),'01/01/1970') AS modifiedFromDate,<!--15-->
        IFNULL(DATE_FORMAT(a.MODIFIED_TO_DATE,'%m/%d/%Y'), '01/01/1970') AS modifiedToDate,<!--16-->
        IFNULL(a.MODIFIED_MONTHS_AGO,'') AS modifiedMonthsAgo, <!--17-->
        IFNULL(a.MODIFIED_WITHIN_MONTHS,'') AS modifiedWithinMonths, <!--18-->
        a.BE_CHECKED_ORG_ID,<!--19-->
        o.NAME AS orgName,<!--20-->
        a.NAME<!--21-->
        FROM
        sp_discovery_tasks a
        LEFT JOIN sp_scheduling_data b ON a.SCHEDULING_ID = b.ID
        LEFT JOIN sp_org_unit_dict o ON a.BE_CHECKED_ORG_ID = o.ID
        WHERE
        a.DISCOVERY_TASK_TYPE IN ('FILE_SYSTEM')
        AND a.ELEMENT_STATUS IN ('UNSYNCHRONIZED_NEW','UNSYNCHRONIZED_EDIT')
        AND a.ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFtpDiscoveryTaskInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        a.ID,   <!--0-->
        a.NAME,  <!--1-->
        a.BE_CHECKED_ORG_ID,  <!--2-->
        o.NAME AS orgName,  <!--3-->
        a.DISCOVERY_TASK_TYPE,  <!--4-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,  <!--5-->
        IFNULL(a.TIMER_ENABLED,'') AS timerEnabled,  <!--6-->
        a.TIMER_AGE,  <!--7-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,   <!--8-->
        a.SCHEDULING_ID,  <!--9-->
        IFNULL(a.BUSY_BANDWIDTH_ENABLED,'') AS busyBandWidthEnabled, <!--10-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_STARTDATE,'%m/%d/%Y'),'') AS busyBandWidthStartDate,  <!--11-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_ENDDATE,'%m/%d/%Y'),'') AS busyBandWidthEndDate,  <!--12-->
        IFNULL(a.BUSY_BANDWIDTH_LIMIT, '') AS busyBandWidthLimit   <!--13-->
        FROM
        sp_discovery_tasks a
        LEFT JOIN sp_scheduling_data b ON a.SCHEDULING_ID = b.ID
        LEFT JOIN sp_org_unit_dict o ON a.BE_CHECKED_ORG_ID = o.ID
        WHERE
        a.DISCOVERY_TASK_TYPE IN ('FTP')
        AND a.ELEMENT_STATUS IN ('UNSYNCHRONIZED_NEW','UNSYNCHRONIZED_EDIT')
        AND a.ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getSftpDiscoveryTaskInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        a.ID,   <!--0-->
        a.NAME,  <!--1-->
        a.BE_CHECKED_ORG_ID,  <!--2-->
        o.NAME AS orgName,  <!--3-->
        a.DISCOVERY_TASK_TYPE,  <!--4-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,  <!--5-->
        IFNULL(a.TIMER_ENABLED,'') AS timeEnabled,  <!--6-->
        IFNULL(a.TIMER_AGE,'') AS timeAge,  <!--7-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,   <!--8-->
        a.SCHEDULING_ID,  <!--9-->
        IFNULL(a.BUSY_BANDWIDTH_ENABLED,'') AS busyBandWidthEnabled,<!--10-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_STARTDATE,'%m/%d/%Y'),'') AS busyBandWidthStartDate,  <!--11-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_ENDDATE,'%m/%d/%Y'),'') AS busyBandWidthEndDate,  <!--12-->
        IFNULL(a.BUSY_BANDWIDTH_LIMIT, '') AS busyBandWidthLimit   <!--13-->
        FROM
        sp_discovery_tasks a
        LEFT JOIN sp_scheduling_data b ON a.SCHEDULING_ID = b.ID
        LEFT JOIN sp_org_unit_dict o ON a.BE_CHECKED_ORG_ID = o.ID
        WHERE
        a.DISCOVERY_TASK_TYPE IN ('SFTP')
        AND a.ELEMENT_STATUS IN ('UNSYNCHRONIZED_NEW','UNSYNCHRONIZED_EDIT')
        AND a.ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getSharePointDiscoveryTaskInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        a.ID,   <!--0-->
        a.NAME,  <!--1-->
        a.BE_CHECKED_ORG_ID,  <!--2-->
        o.NAME AS orgName,  <!--3-->
        a.DISCOVERY_TASK_TYPE,  <!--4-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,  <!--5-->
        IFNULL(a.TIMER_ENABLED,'') AS timerEnabled,  <!--6-->
        IFNULL(a.TIMER_AGE, '') AS timerAge,<!--7-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,   <!--8-->
        a.SCHEDULING_ID,  <!--9-->
        IFNULL(a.BUSY_BANDWIDTH_ENABLED,'') AS busyBandWidthEnabled, <!--10-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_STARTDATE,'%m/%d/%Y'),'') AS busyBandWidthStartDate,  <!--11-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_ENDDATE,'%m/%d/%Y'),'') AS busyBandWidthEndDate,  <!--12-->
        IFNULL(a.BUSY_BANDWIDTH_LIMIT, '') AS busyBandWidthLimit   <!--13-->
        FROM
        sp_discovery_tasks a
        LEFT JOIN sp_scheduling_data b ON a.SCHEDULING_ID = b.ID
        LEFT JOIN sp_org_unit_dict o ON a.BE_CHECKED_ORG_ID = o.ID
        WHERE
        a.DISCOVERY_TASK_TYPE IN ('SHARE_POINT')
        AND a.ELEMENT_STATUS IN ('UNSYNCHRONIZED_NEW','UNSYNCHRONIZED_EDIT')
        AND a.ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getLotusDiscoveryTaskInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        a.ID,   <!--0-->
        a.NAME,  <!--1-->
        a.BE_CHECKED_ORG_ID,  <!--2-->
        o.NAME AS orgName,  <!--3-->
        a.DISCOVERY_TASK_TYPE,  <!--4-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,  <!--5-->
        IFNULL(a.TIMER_ENABLED,'') AS timerEnables, <!--6-->
        IFNULL(a.TIMER_AGE,'') AS timerAgeTimer,  <!--7-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,   <!--8-->
        a.SCHEDULING_ID,  <!--9-->
        IFNULL(a.BUSY_BANDWIDTH_ENABLED,'') AS busyBandWidthEnabled, <!--10-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_STARTDATE,'%m/%d/%Y'),'') AS busyBandWidthStartDate,  <!--11-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_ENDDATE,'%m/%d/%Y'),'') AS busyBandWidthEndDate,  <!--12-->
        IFNULL(a.BUSY_BANDWIDTH_LIMIT, '') AS busyBandWidthLimit   <!--13-->
        FROM
        sp_discovery_tasks a
        LEFT JOIN sp_scheduling_data b ON a.SCHEDULING_ID = b.ID
        LEFT JOIN sp_org_unit_dict o ON a.BE_CHECKED_ORG_ID = o.ID
        WHERE
        a.DISCOVERY_TASK_TYPE IN ('LOTUS')
        AND a.ELEMENT_STATUS IN ('UNSYNCHRONIZED_NEW','UNSYNCHRONIZED_EDIT')
        AND a.ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getExchangeDiscoveryTaskInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        a.ID,   <!--0-->
        a.NAME,  <!--1-->
        a.BE_CHECKED_ORG_ID,  <!--2-->
        o.NAME AS orgName,  <!--3-->
        a.DISCOVERY_TASK_TYPE,  <!--4-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,  <!--5-->
        IFNULL(a.TIMER_ENABLED,'') AS timeEnabled,  <!--6-->
        IFNULL(a.TIMER_AGE, '') AS timeAges,<!--7-->
        IFNULL(b.FREQUENCY_TYPE, '') AS frequencyType,   <!--8-->
        a.SCHEDULING_ID,  <!--9-->
        IFNULL(a.BUSY_BANDWIDTH_ENABLED, '') AS busyBandWidthEnabled,<!--10-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_STARTDATE,'%m/%d/%Y'),'') AS busyBandWidthStartDate,  <!--11-->
        IFNULL(DATE_FORMAT(a.BUSY_BANDWIDTH_ENDDATE,'%m/%d/%Y'),'') AS busyBandWidthEndDate,  <!--12-->
        IFNULL(a.BUSY_BANDWIDTH_LIMIT, '') AS busyBandWidthLimit   <!--13-->
        FROM
        sp_discovery_tasks a
        LEFT JOIN sp_scheduling_data b ON a.SCHEDULING_ID = b.ID
        LEFT JOIN sp_org_unit_dict o ON a.BE_CHECKED_ORG_ID = o.ID
        WHERE
        a.DISCOVERY_TASK_TYPE IN ('EXCHANGE')
        AND a.ELEMENT_STATUS IN ('UNSYNCHRONIZED_NEW','UNSYNCHRONIZED_EDIT')
        AND a.ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFileTarInfoByJobId" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        target.ID, <!--0-->
        target.IP, <!--1-->
        IFNULL(target.PORT,'') AS prot, <!--2-->
        IFNULL(targe.SITE,'') AS site, <!--3-->
        target.USERNAME, <!--4-->
        target.PASSWORD, <!--5-->
        IFNULL(target.SERVER_ADDRESS,'') AS serverAddress, <!--6-->
        IFNULL(target.DOMAIN,'') AS domain, <!--7-->
        IFNULL(target.IS_SCAN_ATTACHMENT, '') AS isScanAttachment, <!--8-->
        IFNULL(target.PASSWORD_TYPE) AS passwordType, <!--9-->
        IFNULL(target.KEY_TYPE,'') AS keyType, <!--10-->
        IFNULL(target.PUBLIC_KEY,'') AS publicKey, <!--11-->
        IFNULL(target.PUBLIC_KEY_NAME) AS publicKeyName, <!--12-->
        IFNULL(target.IS_SSL,'') AS isSSL, <!--13-->
        IFNULL(target.EXCHANGE_EDITION) AS exchangeEdition, <!--14-->
        IFNULL(target.LOTUS_SERVER_TYPE, '') AS lotusServerType, <!--15-->
        IFNULL(target.IS_SCAN_ATTACHMENT, '') AS isScanAttachment <!--16-->
        FROM sp_discovery_tasks t,sp_target_res target
        WHERE t.TARGET_ID = target.ID AND t.ID = #{jobId}
    </select>

    <select id="getFileSharePath" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        targetDetail.NAME
        FROM sp_discovery_tasks t,sp_target_res target,sp_target_res_detail targetDetail
        WHERE t.TARGET_ID = target.ID AND target.ID =  targetDetail.TARGET_RES_ID  AND t.ID = #{jobId} ORDER BY targetDetail.NAME
    </select>

    <select id="getFileIncludeFileType" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT i.FILE_TYPE FROM  sp_discovery_tasks t,sp_dscvr_incld_file_types i WHERE t.ID = i.DISCOVERY_TASK_ID AND t.ID = #{jobId}
    </select>

    <select id="getFileExcludeFileType" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT e.FILE_TYPE FROM  sp_discovery_tasks t,sp_dscvr_excld_file_types e WHERE t.ID = e.DISCOVERY_TASK_ID AND t.ID = #{jobId}
    </select>

    <select id="dbLoutsTargetInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        target.DATABASE_TYPE, <!--0-->
        target.ip,<!--1-->
        IFNULL(target.PORT,'') AS port,<!--2-->
        IFNULL(target.DATABASE_NAME,'') AS databaseName,<!--3-->
        target.USERNAME,<!--4-->
        target.PASSWORD,<!--5-->
        IFNULL(target.DOMAIN,'') AS domain,<!--6-->
        target.ID,<!--7-->
        IFNULL(target.IS_SCAN_ATTACHMENT, '') AS isScanAttachment,<!--8-->
        IFNULL(target.SID, '') AS sid,<!--9-->
        IFNULL(target.LOTUS_SERVER_TYPE, '') AS loutsServerType,<!--10-->
        IFNULL(target.SCHEMA_NAME, '') AS schemaName,<!--11-->
        IFNULL(target.DATABASE_VERSION, '') AS databaseVersion,<!--12-->
        IFNULL(task.PERCENT_ENABLED,'') AS percentEnabled, <!--13-->
        IFNULL(task.PERCENT_AGE,'') AS percentAge, <!--14-->
        IFNULL(task.TIMER_ENABLED,'') AS timerEnabled,<!--15-->
        IFNULL(task.TIMER_AGE,'') AS timeAge,<!--16-->
        IFNULL(target.SHARE_USERNAME,'') AS shareUsername,<!--17-->
        IFNULL(target.SHARE_PASSWORD,'') AS sharePassword<!--18-->
        FROM
        sp_discovery_tasks task
        INNER JOIN sp_target_res target
        ON target.ID = task.TARGET_ID WHERE task.ID = #{jobId};
    </select>

    <select id="getTargetResIdByDisId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT TARGET_ID
        FROM sp_discovery_tasks task WHERE ID  =#{dis}
    </select>

    <select id="getDatabaseNameOrSchemaName" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT DISTINCT
        targetDetail.DATABASE_NAME,  <!--0-->
        targetDetail.IS_SCAN_ALL_ON_DATABASE <!--1-->
        FROM
        sp_target_res target,
        sp_target_res_detail targetDetail
        WHERE
        target.ID = targetDetail.TARGET_RES_ID
        AND targetDetail.DATABASE_NAME IS NOT NULL
        AND target.ID = #{targetResId};
    </select>

    <select id="getDbLoTusExchageTargetDetail" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        targetDetail.NAME
       FROM
        sp_target_res target,
        sp_target_res_detail targetDetail,
        WHERE
            target.ID = targetDetail.TARGET_RES_ID
        AND targetDetail.DATABASE_NAME IS NOT NULL
        AND target.ID = #{targetResId};
    </select>

    <select id="getJbTime" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT IFNULL(b.FREQUENCY_TYPE,'') AS frequency, <!--0-->
        TIME(b.START_DATE) AS startDate,<!--1-->
        DATE(b.START_DATE) AS startDate,
        d.HOUR+1,<!--2-->
        d.HOUR,<!--3-->
        CASE IFNULL(e.`DAY_OF_WEEK`,'6') AS dayOfWeek,<!--4-->
        WHEN 'Monday' THEN '0'<!--5-->
        WHEN 'Tuesday' THEN '1'<!--6-->
        WHEN 'Wednesday' THEN '2'<!--7-->
        WHEN 'Thursday' THEN '3'<!--8-->
        WHEN 'Friday' THEN '4'<!--9-->
        WHEN 'Saturday' THEN '5'<!--10-->
        WHEN 'Sunday ' THEN '6'<!--11-->
        ELSE '6' END AS daywork,<!--12-->
        TIME(b.END_DATE),<!--13-->
        DATE(b.END_DATE)<!--14-->
        FROM sp_scheduling_data b,sp_scheduling_day_tf c,sp_day_timeframe_hours d,sp_day_timeframe e
        WHERE b.ID=c.SCHEDULING_DATA_ID AND c.DAY_TF_ID = e.ID AND d.DAY_TIMEFRAME_ID=e.ID AND b.id = #{scheduleId};
    </select>

    <select id="getJobOnce" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
        IFNULL(b.`FREQUENCY_TYPE`, '') AS frequencyType,  <!--0-->
        IFNULL(b.CONTINUOUS_STOP_INTERVAL,'') AS continuousStopInterval, <!--1-->
        IFNULL(b.USE_INITIAL_RECUR, '') AS useInitialRecur,<!--2-->
        IFNULL(DATE_FORMAT(b.START_DATE, '%m/%d/%Y'),'01/01/1970') AS startDate,<!--3-->
        IFNULL(DATE_FORMAT(b.START_DATE, '%H:%i:%s'),'00:00:00') AS startDate1<!--4-->
        FROM
        sp_scheduling_data b
        WHERE
        b.id = #{scheduleId};
    </select>

    <select id="targetIncludeTables" parameterType="java.util.HashMap" resultType="java.lang.String">
        SELECT
            targetDetail.NAME
        FROM
        sp_target_res target,
        sp_target_res_detail targetDetail
        WHERE
            target.ID = targetDetail.TARGET_RES_ID
        AND targetDetail.NAME IS NOT NULL
        AND target.ID = #{targetResId}
        AND targetDetail.DATABASE_NAME = #{databaseName};
    </select>
</mapper>