<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spinfosec.dao.SecPasswordPolicyDao">
    <resultMap id="BaseResultMap" type="com.dao.entity.spsys.SpSecPasswordPolicy">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="PASSWORD_VALIDITY" jdbcType="VARCHAR" property="passwordValidity"/>
        <result column="PASSWORD_LENGTH_MIN" jdbcType="VARCHAR" property="passwordLengthMin"/>
        <result column="PASSWORD_LENGTH_MAX" jdbcType="VARCHAR" property="passwordLengthMax"/>
        <result column="MAX_LOGIN_TIMES" jdbcType="VARCHAR" property="maxLoginTimes"/>
        <result column="IS_MODIFY_PASSWORD_FIRST" jdbcType="VARCHAR" property="isModifyPasswordFirst"/>
        <result column="UKEY_ENABLE" jdbcType="VARCHAR" property="ukeyEnable"/>
        <result column="IS_REPEAT_LOGIN" jdbcType="VARCHAR" property="isRepeatLogin"/>
        <result column="SECHOST_ENABLE" jdbcType="VARCHAR" property="sechostEnable"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, PASSWORD_VALIDITY, PASSWORD_LENGTH_MIN, PASSWORD_LENGTH_MAX, MAX_LOGIN_TIMES, 
    IS_MODIFY_PASSWORD_FIRST, UKEY_ENABLE, IS_REPEAT_LOGIN, SECHOST_ENABLE
  </sql>
    <select id="getSpSecPasswordPolicy" resultType="com.dao.entity.spsys.SpSecPasswordPolicy">
        SELECT
        ID AS id,PASSWORD_VALIDITY AS passwordValidity,PASSWORD_LENGTH_MIN AS passwordLengthMin,
        PASSWORD_LENGTH_MAX AS passwordLengthMax,MAX_LOGIN_TIMES AS maxLoginTimes,IS_MODIFY_PASSWORD_FIRST AS isModifyPasswordFirst,
        UKEY_ENABLE AS ukeyEnable,IS_REPEAT_LOGIN AS isRepeatLogin,SECHOST_ENABLE AS sechostEnable
        FROM sp_sec_password_policy
    </select>

    <select id="getComplexityItem" resultType="com.dao.entity.spsys.SpSecPasswordComplexityItem">
        SELECT ID AS id,NAME AS name,DISPLAY_NAME AS displayName,VALUE AS value,IS_ENABLE AS isEnable,DESCRIPTION AS description
        FROM sp_sec_password_complexity_item
    </select>

    <update id="saveSecPasswordPolicy" parameterType="com.dao.entity.spsys.SpSecPasswordPolicy">
        update sp_sec_password_policy
        <set>
            <if test="passwordValidity != null">
                PASSWORD_VALIDITY = #{passwordValidity,jdbcType=VARCHAR},
            </if>
            <if test="passwordLengthMin != null">
                PASSWORD_LENGTH_MIN = #{passwordLengthMin,jdbcType=VARCHAR},
            </if>
            <if test="passwordLengthMax != null">
                PASSWORD_LENGTH_MAX = #{passwordLengthMax,jdbcType=VARCHAR},
            </if>
            <if test="maxLoginTimes != null">
                MAX_LOGIN_TIMES = #{maxLoginTimes,jdbcType=VARCHAR},
            </if>
            <if test="isModifyPasswordFirst != null">
                IS_MODIFY_PASSWORD_FIRST = #{isModifyPasswordFirst,jdbcType=VARCHAR},
            </if>
            <if test="ukeyEnable != null">
                UKEY_ENABLE = #{ukeyEnable,jdbcType=VARCHAR},
            </if>
            <if test="isRepeatLogin != null">
                IS_REPEAT_LOGIN = #{isRepeatLogin,jdbcType=VARCHAR},
            </if>
            <if test="sechostEnable != null">
                SECHOST_ENABLE = #{sechostEnable,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <select id="resetSpSecPasswordComplexityItem">
        UPDATE sp_sec_password_complexity_item SET IS_ENABLE = '0';
    </select>

    <select id="updateSpSecPasswordComplexityItem" parameterType="java.lang.String">
        UPDATE sp_sec_password_complexity_item SET IS_ENABLE = '1' WHERE NAME = #{arg0};
    </select>
</mapper>