<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spinfosec.dao.TaskCenterDao">
    <resultMap id="BaseResultMap" type="com.dao.entity.spsys.SpTask">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="jobId" jdbcType="VARCHAR" property="jobId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="startTime" jdbcType="DATE" property="startTime"/>
        <result column="endTime" jdbcType="DATE" property="endTime"/>
        <result column="failReason" jdbcType="VARCHAR" property="failReason"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="isLast" jdbcType="VARCHAR" property="isLast"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="orgId" jdbcType="VARCHAR" property="orgId"/>
        <result column="orgName" jdbcType="VARCHAR" property="orgName"/>
        <result column="totalCount" jdbcType="VARCHAR" property="totalCount"/>
        <result column="totalRecordCount" jdbcType="VARCHAR" property="totalRecordCount"/>
        <result column="successCount" jdbcType="VARCHAR" property="successCount"/>
        <result column="successRecordCount" jdbcType="VARCHAR" property="successRecordCount"/>
        <result column="failCount" jdbcType="VARCHAR" property="failCount"/>
        <result column="failRecordCount" jdbcType="VARCHAR" property="failRecordCount"/>
    </resultMap>

    <select id="queryTaskCent" parameterType="java.util.HashMap"
            resultType="com.dto.pojo.spsys.system.TaskCenterRsp">
        SELECT dis.ID AS id,
        dis.NAME AS name,
        tar.RES_TYPE AS type,
        IFNULL(t.ID,"") AS taskId,
        t.startTime AS startTime,
        t.endTime AS endTime,
        IFNULL(t.status,"0") AS status,
        IFNULL(t.result,"UNSTART") AS result,
        IFNULL(t.failReason,"") AS failReason,
        IFNULL(t.size,"0") AS size,
        IFNULL(t.totalCount,"0") AS totalCount
        FROM sp_discovery_tasks dis
        LEFT JOIN sp_target_res tar ON dis.TARGET_ID = tar.ID
        LEFT JOIN sp_task t ON t.jobId = dis.ID WHERE 1 = 1 AND (t.isLast IS NULL OR t.isLast = '1')
        <if test="createdBy != null">
            AND dis.CREATED_BY = #{createdBy}
        </if>
        <if test="name != null">
            AND dis.NAME Like concat(concat("%",#{name}),"%")
        </if>
        <if test="type != null">
            AND tar.RES_TYPE Like concat(concat("%",#{type}),"%")
        </if>
        <if test="sort != null">
            ORDER BY ${sort}
        </if>
        <if test="sort == null">
            ORDER BY t.startTime
        </if>
        <if test="order != null">
            ${order}
        </if>
        <if test="order == null">
            DESC
        </if>
    </select>

    <update id="updateTaskOperationStatus" parameterType="java.lang.String">
       UPDATE sp_discovery_tasks SET operationStatus = #{arg1} WHERE id = #{arg0}
    </update>

    <select id="getTaskInfoByDisId" parameterType="java.lang.String"
            resultType="com.dto.pojo.spsys.system.TaskCenterRsp">
        SELECT dis.ID AS id,
        dis.NAME AS name,
        tar.RES_TYPE AS type,
        IFNULL(t.ID,"") AS taskId,
        t.startTime AS startTime,
        t.endTime AS endTime,
        IFNULL(t.status,"0") AS status,
        IFNULL(t.result,"UNSTART") AS result,
        IFNULL(t.failReason,"") AS failReason,
        IFNULL(t.size,"0") AS size,
        IFNULL(t.totalCount,"0") AS totalCount
        FROM sp_discovery_tasks dis
        LEFT JOIN sp_target_res tar ON dis.TARGET_ID = tar.ID
        LEFT JOIN sp_task t ON t.jobId = dis.ID WHERE 1 = 1 AND (t.isLast IS NOT NULL OR t.isLast != '1')
        AND dis.ID = #{disId} ORDER BY t.startTime
    </select>


    <delete id="deleteTaskById" parameterType="java.lang.String">
        DELETE FROM  sp_task
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="saveTask" parameterType="com.dao.entity.spsys.SpTask">
    INSERT INTO sp_task (id, jobId, name,
      type, startTime, endTime, 
      failReason, result, status, 
      isLast, size, orgId, 
      orgName, totalCount, totalRecordCount, 
      successCount, successRecordCount, failCount, 
      failRecordCount)
    VALUES (#{id,jdbcType=VARCHAR}, #{jobid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{failreason,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{islast,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{orgid,jdbcType=VARCHAR}, 
      #{orgname,jdbcType=VARCHAR}, #{totalcount,jdbcType=VARCHAR}, #{totalrecordcount,jdbcType=VARCHAR}, 
      #{successcount,jdbcType=VARCHAR}, #{successrecordcount,jdbcType=VARCHAR}, #{failcount,jdbcType=VARCHAR}, 
      #{failrecordcount,jdbcType=VARCHAR})
  </insert>

    <select id="getIsLastTaskByJobId" parameterType="java.lang.String" resultType="com.dao.entity.spsys.SpTask">
        SELECT
        ID AS id,
        jobId AS jobId,
        name AS name,
        type AS type,
        startTime AS startTime,
        endTime AS endTime,
        failReason AS failReason,
        result AS result,
        status AS status,
        isLast AS isLast,
        size AS size,
        orgId AS orgId,
        orgName AS orgName,
        totalCount AS totalCount,
        totalRecordCount AS totalRecordCount,
        successCount AS successCount,
        successRecordCount AS successRecordCount,
        failCount AS failCount,
        failRecordCount AS failRecordCount
        FROM sp_task WHERE jobId  = #{jobid} AND isLast = '1'
    </select>


    <select id="getTaskById" parameterType="java.lang.String" resultType="com.dao.entity.spsys.SpTask">
         SELECT
        ID AS id,
        jobId AS jobId,
        name AS name,
        type AS type,
        startTime AS startTime,
        endTime AS endTime,
        failReason AS failReason,
        result AS result,
        status AS status,
        isLast AS isLast,
        size AS size,
        orgId AS orgId,
        orgName AS orgName,
        totalCount AS totalCount,
        totalRecordCount AS totalRecordCount,
        successCount AS successCount,
        successRecordCount AS successRecordCount,
        failCount AS failCount,
        failRecordCount AS failRecordCount
        FROM sp_task WHERE ID  = #{id}
    </select>

    <update id="updateTask" parameterType="com.dao.entity.spsys.SpTask">
        UPDATE sp_task
        <set>
            <if test="jobId != null">
                jobId = #{jobId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                startTime = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                endTime = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="failReason != null">
                failReason = #{failReason,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                result = #{result,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="isLast != null">
                isLast = #{isLast,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                orgId = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                orgName = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="totalCount != null">
                totalCount = #{totalCount,jdbcType=VARCHAR},
            </if>
            <if test="totalRecordCount != null">
                totalRecordCount = #{totalRecordCount,jdbcType=VARCHAR},
            </if>
            <if test="successCount != null">
                successCount = #{successCount,jdbcType=VARCHAR},
            </if>
            <if test="successRecordCount != null">
                successRecordCount = #{successRecordCount,jdbcType=VARCHAR},
            </if>
            <if test="failCount != null">
                failCount = #{failCount,jdbcType=VARCHAR},
            </if>
            <if test="failRecordCount != null">
                failRecordCount = #{failRecordCount,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateTaskIsLastByJobId" parameterType="java.lang.String">
        UPDATE sp_task SET isLast = #{isLast} WHERE jobId = #{jobid}
    </update>

    <select id="getTaskNum" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(dis.ID)
        FROM sp_discovery_tasks dis LEFT JOIN sp_task t ON dis.ID = t.jobId WHERE 1 = 1
        <if test="status == null">

        </if>
        <if test="status  == 'unstart'.toString()">
            AND t.status IS NULL
        </if>
        <if test="status  == 'alreadyRun'.toString()">
            AND t.status IS NOT NULL
        </if>
    </select>

    <select id="getTaskNumTimeAgo" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(dis.ID)
        FROM sp_discovery_tasks dis LEFT JOIN sp_task t ON dis.ID = t.jobId
        WHERE 1 = 1
        <if test="status == null">
            AND dis.CREATE_DATE > DATE_SUB(CURDATE(),INTERVAL 1 WEEK)     <!--全部任务以策略创建时间为主，因为有的策略没运行没有start开始时间-->
        </if>
        <if test="status  == 'unstart'.toString()">
            AND t.status IS NULL  <!--未运行任务以策略创建时间为主，因为未运行任务没有start开始时间，并且任务状态为null，-->
            AND dis.CREATE_DATE > DATE_SUB(CURDATE(),INTERVAL 1 WEEK)
        </if>
        <if test="status  == 'alreadyRun'.toString()">
            AND t.status IS NOT NULL  <!--已运行任务以任务开始时间start为主，并且务状态不为null-->
            AND t.startTime > DATE_SUB(CURDATE(),INTERVAL 1 WEEK)
        </if>
    </select>
</mapper>