<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.db2.lwaddress.SecAddrMapper" >
  <resultMap id="BaseResultMap" type="com.dao.entity.lwaddress.Sec_addr" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name1" property="name1" jdbcType="VARCHAR" />
    <result column="name2" property="name2" jdbcType="VARCHAR" />
    <result column="addr_jj" property="addrJj" jdbcType="VARCHAR" />
    <result column="addr_sj" property="addrSj" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="short_addr" property="shortAddr" jdbcType="VARCHAR" />
    <result column="addr_sign1" property="addrSign1" jdbcType="VARCHAR" />
    <result column="addr_sign2" property="addrSign2" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="pro_weight" property="proWeight" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="city_weight" property="cityWeight" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="area_weight" property="areaWeight" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="stre_weight" property="streWeight" jdbcType="VARCHAR" />
    <result column="mul_weight" property="mulWeight" jdbcType="VARCHAR" />
    <result column="fina_weight" property="finaWeight" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="type2" property="type2" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name1, name2, addr_jj, addr_sj, phone, short_addr, addr_sign1, addr_sign2, province,
    pro_weight, city, city_weight, area, area_weight, street, stre_weight, mul_weight, 
    fina_weight, latitude, longitude, type, type2
  </sql>

  <update id="update" parameterType="com.dao.entity.lwaddress.Sec_addr">
      update third_addr set
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      type = #{type}
      where
      id = #{id,jdbcType=VARCHAR}
  </update>
  <!--type=3-->
  <select id="selectAddrsec" resultMap="BaseResultMap">
    SELECT * FROM basics_addr limit #{number1},#{number2}
  </select>

  <select id="searchError" resultType="com.dao.entity.lwaddress.Sec_addr">
      SELECT
          ba.*
      FROM
          basics_addr AS ba
      LEFT JOIN
          third_addr AS ta
      ON
          ba.id = ta.id
      WHERE
          ta.type = '126' OR ta.type = '127'
  </select>

  <insert id="insert2" parameterType="com.dao.entity.lwaddress.Sec_addr" >

    insert into  third_addr (id,latitude ,longitude,`type`)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR},
      #{item.latitude,jdbcType=VARCHAR},
      #{item.longitude,jdbcType=VARCHAR},
      #{item.type,jdbcType=INTEGER})
    </foreach>

  </insert>

</mapper>